@import "colors";

.about{
    background-color: $pink;
    width: 100%;

    >main{
        background-color: white;
        margin: auto;
        max-width: 900px;
        height: 100%;

        >h1{
            font: 500 3rem "Roboto";
            color: $red;
            padding: 1rem 2rem;
            text-transform: uppercase;
            font-weight: bolder;
            background-color: $dark;
        }
        >article{
            margin: 2rem 0;
            >h4{
                font: 100 2rem "Roboto";
                text-transform: uppercase;
                text-align: center;
                padding: 2rem 0;
                letter-spacing: 3px;
            }
            >p{
                letter-spacing: 3px;
                word-spacing: 3px;
                padding: 2rem;
                width: 50%;
                text-align: center;
                margin: auto;
            }

            >a{
                background-color: $dark;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                width: 2.5rem;
                height: 2.5rem;
                color: white;
                font-size: 1.5rem;
                transition: all 0.3s;
                margin: auto;
                &:hover{
                    background-color: $red;
                    transform: scale(1.1);
                }
            }
        }

        >div{
            background-color: $dark;
            padding: 2rem;
            color: white;
            >h2{
                text-align: center;
                text-transform: uppercase;
            }
            >article{
                display: flex;
                align-items: center;
                justify-content: center;

                >div{
                    margin: 2rem;
                    >img{
                        width: 150px;
                        height: 150px;
                        border-radius: 100%;

                    }
                    >h3{
                        margin: 1rem;
                    }
                }
                >p{
                    margin: 0 1rem;
                    width: 50%;
                    letter-spacing: 2px;
                    line-height: 150%;
                }
            }
        }
        
    }
}

@media screen and (max-width:600px){
    .about > main{
        >h1{
            font: 100 2rem "Roboto";
        }
        >article {
            >h4{
                font: 100 1rem "Roboto";
            }
            >p{
                font: 100 0.8rem "Roboto";
            }
        }
        >div > article{
            flex-direction: column;
            >p{
                text-align: center;
            }
        }
    }
}